<main id="gift-card-show">
  <h1>Gift card details</h1>
  <div class="current-value">
    Current Value: <strong><%= Money.new(@object.current_value * 100, Spree::Config[:currency]).format %></strong>
  </div>

  <div class="original-value">
    Original Value: <strong><%= Money.new(@object.original_value * 100, Spree::Config[:currency]).format %></strong>
  </div>

  <div class="original-value">
    Code: <strong><%= @object.code %></strong>
  </div>

  <% if @adjustments.any? %>
    <table id="gc-table">
      <thead>
        <tr>
          <th class="order">Order</th>
          <th class="order-state">Order State</th>
          <th class="amount">Amount Redeemed</th>
        </tr>
      </thead>
      <tbody>
        <% @adjustments.each do |adj| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td>
              <%= link_to adj.adjustable.number, [:edit_admin, adj.adjustable] %>
            </td>
            <td><%= adj.adjustable.state %></td>
            <td><%= adj.display_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      This gift card has not been used on any orders yet.
    </p>
  <% end %>
</main>
