<div class="show-all-link">
  <% if params[:show_all] %>
    <%= link_to Spree.t(:hide_inactive), gift_cards_path %>
  <% else %>
    <%= link_to Spree.t(:show_all), gift_cards_path(show_all: true) %>
  <% end %>
</div>
<table class="gc-table">
  <colgroup>
    <col style="width:30%">
    <col style="width:10%">
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
  </colgroup>

  <thead class="gc-table-head">
    <tr class="gc-table-row">
      <th><%= Spree.t(:code) %></th>
      <th><%= Spree.t(:current_value) %></th>
      <th><%= Spree.t(:expiration_date) %></th>
      <th><%= Spree.t(:issue_date) %></th>
      <th><%= Spree.t(:status) %></th>
      <th><%= Spree.t(:note) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="gc-table-body">
    <%= render @gift_cards %>
  </tbody>
  <%= paginate @gift_cards %>
</table>
