<h1 data-hook="gift-card-header">
  <%= Spree.t(:transfer_gift_card) %></h1>
</h1>
<%= form_for @gift_card, class: 'gift-card-form' do |f| %>
  <p class="email-wrapper">
    <p class="email-label-wrapper">
      <%= f.label :email %>
    </p>
    <%= f.text_field :email %>
  </p>
  <p class="note-wrapper">
    <p class="note-label-wrapper">
      <%= f.label :note %>
    </p>
    <%= f.text_area :note %>
  </p>
  <p class="submit-wrapper">
    <%= f.submit Spree.t(:gift_card_transfer_submit), confirm: Spree.t(:gift_card_confirm_transfer) %>
  </p>
<% end %>

